<!DOCTYPE html>

<html>

<head>
  <title>Ma todolist</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">

    <h1>Ma todolist</h1>

    <ul id="todolist"></ul>

    <form action="#" method="#">
      <p>
        <label for="newtodo">Que dois-je faire ?</label>
        <input type="text" name="newtodo" id="newtodo" autofocus />
        <input type="submit" id="btnSubmit" class="btnSubmit" />
      </p>
    </form>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    io.connect("localhost:3000");

    /* Todolist */
    let todolist = document.getElementById("todolist");

    /* Add Task elements */
    let todoElt = document.getElementById("newtodo");
    let submitTodoBtn = document.getElementById("btnSubmit");
    let listitems = [];

    function createListElement(value, listContainer) {
      let spanElt = document.createElement("span");
      let buttonElt = document.createElement("button");
      let liElt = document.createElement("li");

      buttonElt.textContent = "Delete";
      buttonElt.setAttribute("id", value);
      buttonElt.setAttribute("class", "deleteBtn");
      buttonElt.setAttribute("href", "#");
      spanElt.textContent = value;
      liElt.appendChild(spanElt);
      liElt.appendChild(buttonElt);

      liElt.addEventListener('click', (e) => {
        let taskToSend = e.target.getAttribute('id');
        socket.emit('taskToDelete', { taskToDelete: taskToSend });
      });

      listContainer.appendChild(liElt);

      return listContainer;
    }

    /* List when there is a new connection */
    socket.on("newClient", (data) => {
      savedList = data.savedList;
      savedList.forEach(elt => {
        createListElement(elt, todolist);
      });
    });

    submitTodoBtn.addEventListener("click", (e) => {
      e.preventDefault();
      socket.emit("newTask", { message: todoElt.value });
      todoElt.value = "";
    });

    socket.on("returnNewTask", (data) => {

      todolist.textContent = "";
      let list = data.list;

      list.forEach((elt, index) => {
        createListElement(elt, todolist);
      });

    });


  </script>
</body>

</html>