.container{
	background-color: #f5f6fa;
	width: 40%;
	margin: 2rem auto;
	font-family: sans-serif;
	letter-spacing: .1rem;
	color: #fff;
	text-shadow: 1px 1px 1px #596275;
	padding-bottom: 1rem;
}

h1{
	color:#2f3640;
	text-shadow: 1px 1px 1px;
	text-align: center;
	padding-top: 1rem;
}

ul{
	margin:0;
	padding:0;
}

li{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom:2px;
	height: 2.1rem;
	border: none;
	padding: 0 5px;
}

li:nth-child(even){
	background-color: #7f8fa6;
}

li:nth-child(odd){
	background-color: #dcdde1;
}

button{
	width: 30%;
	padding: .4rem;
	border-radius: 3px;
	border:none;
	outline: none;
	background-color: #2f3640;
	color: #fff;
	letter-spacing: .2rem;
	font-weight: 700;
	font-size: .8rem;
	cursor: pointer;
}

.btnSubmit{
	border: none;
	outline: none;
	cursor: pointer;
}
form{
	text-align: center;
	color:#353b48;
}

form #newtodo{
	padding:.4rem;
	color: #718093;
	font-size: 1rem;
	outline: none;
	border:none;
	background-color: #dcdde1;
	border-radius: 1px;
}

form p{
	display:flex;
	align-items: center;
	justify-content: space-around;
}

form input[type="submit"]{
	width: 20%;
	padding: .5rem;
	border-radius: 3px;
	background-color: #2f3640;
	color: #fff;
	letter-spacing: .2rem;
	font-weight: 700;
	font-size: .8rem;
}

@media screen and (min-width: 480px){
	.container{
		width: 90%;
	}
}